<!-- <% include partials/header.ejs %> -->
<app-header [title]="title"></app-header>
  <div align="center"class="container" style="padding:44px;">
  <h1>Welcome to the Ticket Management Application</h1>
  

  <a class="navbar-brand" href="/">
    <img src="assets/images/survey.png" alt="logo" style="width:900px;">
  </a>
  <p style="color:#66FCF1;text-align:left"> </p>
      <h1 style="font-size:50px;text-align:center">Get help with your concerns</h1>
      <h3 class="lead" style="text-align:center">Submit a ticket now</h3>

      <p style="text-align:left;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta eros ipsum. Mauris id justo lobortis, pharetra magna eget, consequat est. Nunc at odio quis eros commodo convallis eget eget augue. Proin ligula leo, accumsan a justo eu, cursus accumsan metus. Quisque at erat in nibh vehicula lacinia. Curabitur molestie ex eu diam cursus, at fermentum ex vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque massa velit, finibus viverra nibh vitae, varius finibus lectus. Etiam id nisi quis tellus pulvinar finibus. Phasellus dictum massa ligula, a ornare ligula placerat molestie. Praesent faucibus aliquet elit, sed auctor est sagittis et. Aenean luctus enim eros. Aenean vel lorem tellus. In consequat augue sed ex dapibus posuere vulputate ac sem. Nullam a mattis urna. </p> 
          
  </div>
<app-footer></app-footer>
<!-- <% include partials/footer.ejs %> -->
