<!-- <%- include ../partials/header.ejs %> -->
<app-header [title]="title"></app-header>
    <!-- Content for the Add_Edit page -->
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h1>
                    {{ title }}
                </h1>

                <!-- <form class="form" method="POST"> -->
                <form novalidate #form="ngForm" (ngSubmit)="save(form)">
                    <div class="form-group">
                        <input type="hidden" name="id" [(ngModel)]="survey._id" value="{{ survey._id }}">
                        <label for="surveyTextField">Name</label>
                        <input type="text" class="form-control" id="surveyTextField" value="{{ survey.Name }}"
                            name="Name" placeholder="Enter a Name for this Survey" [(ngModel)]="survey.Name" required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="surveyTextField">Description</label>
                        <input type="text" class="form-control" id="surveyTextField" placeholder="Enter the Description"
                            name="Description" value="{{ survey.Description }}" [(ngModel)]="survey.Description" >
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="surveyTextField">Question1</label>
                        <input type="text" class="form-control" id="surveyTextField"
                            placeholder="{{ survey.Question1 }}" name="Question1" [(ngModel)]="survey.Question1" required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="surveyTextField">Question2</label>
                        <input type="text" class="form-control" id="surveyTextField"
                            placeholder="{{ survey.Question2 }}" name="Question2" [(ngModel)]="survey.Question2" required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="surveyTextField">Question3</label>
                        <input type="text" class="form-control" id="surveyTextField"
                            placeholder="{{ survey.Question3 }}" name="Question3" [(ngModel)]="survey.Question3" required>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-edit"></i>
                            Submit
                        </button>

                        <a href="/survey/list" class="btn btn-warning">
                            <i class="fas fa-undo"></i>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <!-- <%- include ../partials/footer.ejs %> -->