<!-- <%- include ../partials/header.ejs %> -->
<app-header [title]="title"></app-header>
  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1 align="center">List of Incident <span style="color:rgb(21, 202, 193);">Tickets</span></h1>
        <br>      
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-dark">
                <!-- Header Row-->
                <tr>
                    <th class="text-center" style="color:black">Incident Record</th>
                    <th class="text-center" style="color:black">Type of Incident</th>
                    <th class="text-center" style="color:black">Description of Incident</th>
                    <th class="text-center" style="color:black">Incident Priority</th>
                    <th class="text-center" style="color:black">Date of Incident</th>
                    
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <!-- <% for(let count = 0; count < Surveys.length; count++) { %> -->
                    <tr *ngFor="let item of surveyList">
                        <td class="text-center">{{ item.Name }}</td>
                        <td class="text-center">{{ item.type }}</td>
                        <td class="text-center">{{ item.Description }}</td>
                        <td class="text-center">{{ item.priority }}</td>
                        <td class="text-center">{{ item.created }}</td>
                        
                        <td class="text-center">
                            <a href="/survey/edit/{{ item._id }}" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center">
                            <a (click)="deleteMethod(item._id)" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <!-- <% } %> -->
            </table>
        </div>
    </div>
    <div align="center">
        <a href="/survey/add" class="btn btn-primary align-self-end" role="button">
            <i class="fas fa-plus-circle"></i> 
            Add a new Ticket
        </a>     
    </div>
  </main>
  <app-footer></app-footer>
<!-- <%- include ../partials/footer.ejs %> -->