<%- include ../partials/header.ejs %>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <h1 style="text-align: center;"><b>Login <span style="color:rgb(21, 202, 193);">Page</span></b></h1>
          <% for(var i in messages) { %>
            <div class="flash"><%= messages[i] %></div>
          <% } %>
            <form action="/users/signin" method="POST">
              <div class="form-outline mb-4">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  name="username"
                  placeholder="Enter Username"
                />
                </div>

                <div class="form-outline mb-4">
                <input
                class="form-control form-control-lg"
                  type="password"
                  name="password"
                  placeholder="Enter Password"/>
                </div>
              <div class="text-center">
                <input class="btn btn-info btn-lg" type="submit" value="Login" />
              </div>
          </form>
          <div class="d-flex align-items-center justify-content-center pb-4">
        <p class="mb-0 me-2">Don't have an account?</p> <a href="/users/signup" class="text-white-50 fw-bold"><i class="fas fa-user-plus"></i>Register</a></p>
      </div>
    </div>
  </div>
</section> 
<% include ../partials/footer.ejs %>
